services:
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
      - ./dump:/dump:ro
  api:
    container_name: server
    build:
      context: ./
      dockerfile: Dockerfile.server
    ports:
      - "3001:3001"
    depends_on:
      - mongodb

volumes:
  mongo_data:
